<div class="container">
    <h2 class="h-font form-header"><%= @blog.title %></h2>
    <p class="p-font sub-heading center">By <%= @blog.user.first_name %> <%= @blog.user.last_name %></p>
    <div class="show-cont">
      <% if @blog.cover_image.present? %>
        <%= cl_image_tag((@blog.cover_image), class: "cover-image-show") %>
      <% end %>
    </div>
  <p><%= @blog.content %></p>

  <% if current_user %>
    <%= link_to "Edit blog post", edit_blog_path %>
    <%= link_to "Delete blog post", blog_path, data: { confirm: "Are you sure?" }, method: :delete  %>
  <% end %>
</div>
