<h2>New preconsultation form requested from In Motion Food.com from:</h2>

<p><%= @enquiry.first_name %> <%= @enquiry.last_name %></p>
<p><%= @enquiry.phone %></p>
<p><%= @enquiry.email %></p>

<p><strong><i>Remember to contact <%= @enquiry.first_name %> within 24 hours!</i></strong></p>
