<div class="container">
  <h2>Consultation for <%= @client.first_name  %> <%= @client.last_name  %></h2>
  <%= @consultation.notes %>
  <%= @consultation.important %>
  <%= @consultation.strategy %>
</div>
