<div class="navbar">
  <div class="container nav-container">
    <%= link_to root_path do %>
      <%= image_tag(("logo.png"), class: "logo") %>
    <% end %>
    <div class="links">
      <ul class="nav-menu">
        <%= link_to root_path do %>
          <li class="nav-links">Home</li>
        <% end %>
        <%= link_to about_path do %>
          <li class="nav-links">About</li>
        <% end %>
        <%= link_to services_path do %>
          <li class="nav-links">Services</li>
        <% end %>
        <%= link_to contact_path do %>
          <li class="nav-links">Contact</li>
        <% end %>
      </ul>
    </div>
    <%= link_to blogs_path do %>
      <li id="blog-btn" class="nav-links">Blog</li>
    <% end %>
  </div>
</div>
