<div class="container">
  <% if @service.id == 3 %>
    <h2 class="h-font form-header">Book a <%= @service.service_type %> consultation</h2>
  <% else %>
    <h2 class="h-font form-header">Book an <%= @service.service_type %> consultation</h2>
  <% end %>

    <%#= simple_form_for(@user) do |f| %>
    <!-- <div class="form-group"> -->

      <%#= f.input :first_name, input_html: { class: 'form-control' } %>
      <%#= f.input :last_name, input_html: { class: 'form-control' } %>
      <%#= f.input :email, input_html: { class: 'form-control' } %>
      <%#= f.input :phone, input_html: { class: 'form-control' } %>

    <%# end %>
  <%= simple_form_for [@service, @preconsultation] do |f| %>

<% if @preconsultation.errors.any? %>
      <% @preconsultation.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>


    <%= f.input :date, input_html: { class: 'form-control' } %>
    <%= f.input :time, input_html: { class: 'form-control' } %>

    <div class="form-actions new-cocktail-button">
      <%= f.button :submit, class: "btn btn-info" %>
    </div>

    <!-- </div> -->
  <% end %>
</div>
