<div class="container">
  <h2 class="h-font form-header">Request a consultation</h2>
  <%= simple_form_for(@enquiry) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :country, label: "Country of residence", priority: ["GB"] %>
    <%= f.input :reason, label: "Reason for enquiry" %>
    <%= f.button :submit, class: "btn btn-info" %>
  <% end %>
</div>
